*{
    padding: 0;
    margin: 0;
}

.header{
    background-image: url(./banner.jpg);
    width: 450px;
    height: 250px;
    margin: auto;
    padding-left: 650px;
    padding-top: 100px;
    padding-right: 100px;
    position: relative;
    z-index: 0;
}


h1{
    background-color: rgba(192, 67, 45, 0.87);
    position: absolute;
    right: 300px;
    top: 150px;
    z-index: 2;
}

p{
    background-color: rgba(127, 255, 212, 0.993);
    position: absolute;
    top: 170px;
    z-index: 1;
}