@charset "utf-8";
/*
ul {padding-left: 40px}
li {list-style: circle;}
a {}
*/
ul{
    padding-left :0px;;
}

li{
    list-style-type: none;
}

li a{
    display:block; /*按鈕*/
    width: 200px; 
    height: 60px;
    line-height: 50px;
    text-align: left; 
    text-decoration: none; /*無底線*/
    background-color: rgb(221, 146, 34);
    margin-bottom: 10px;
}
li a:hover{
    color: black;
    background-color: cornflowerblue;
}