* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html,body {
    font-family: Arial, Helvetica, "微軟正黑體", sans-serif;
    background-image: url(share/bg.gif);
}
.container {
    background-color: #fff;
    width: 1200px;
    margin: 0 auto;
}

.header {
    background-color: #ffc02b;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
.header h1 {}
.header ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.header li {}
.header li a {
    margin: 3px;
}
.header a:hover {}

.banner {}
.banner img {
    vertical-align: bottom;
}
.box {
    display: flex;
}
.nav {
    background-color: #6d063f;
    width: 200px;
    padding: 20px;
}

.nav ul {}
.nav li {
    list-style: none;
}
.nav li a {
    display: block;
    height: 60px;
    border-bottom: #fff 1px dashed;
    line-height: 60px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    background-color: black;
}

li:last-child a {
    border-bottom: none;
}

.nav li a:hover {}

.content {
    background-color: rgb(35, 37, 143);
    color: azure;
    width: 1000px;
    padding: 20px;
}

.content h2 {
    background-image: url(./share/title_bg.png);
    width: 600px;
    height: 40px;
    line-height: 40px;
    text-indent: 20px;
    margin-bottom: 15px;
}

.content h3 {
    background-color: #b58628;
        border-left: 20px #8a420b solid;
        width: 400px;
        height: 30px;
        line-height: 30px;
        text-indent: 10px;
        margin-bottom: 15px;
}

.content p{
    margin-bottom: 10px;
    text-align: justify;
}

.content img {
    border-radius: 20px;
    border: #FFF 7px solid;
    box-shadow: 2px 2px 5px #333;
}

.float-l {
    float: left;
    margin: 10px 10px 10px 0;
}

.float-r {
    float: right;
    margin: 10px 0 10px 10px;
}

.clear {
    clear: both;
}

.footer {
    background-color: rgb(70, 66, 58);
    color: #fff;
    text-align: center;
    padding: 20px;
}

.footer h2 {}

.footer h4 {}