*{
	padding:0;
	margin:0;}
	
body{
	background-color:#E3E1C6;
}
.wrapper{
	width:1200px;
	background-color:#FFF;
	margin:0 auto;}

.header{
	border-top:#066 20px solid;
	border-bottom:#066 20px solid;}

.header img{
	vertical-align:bottom;
}

.box{
	display: flex;
	flex-wrap: wrap;
	justify-content: center; /*center,space-around,space-between*/
}
.box div{
	width: calc(90%/3);
	padding: 20px;
	box-sizing: border-box;
}

.b1 {
	background-color: rgb(66, 25, 214);
}

.b2 {
	background-color: rgb(194, 59, 133);
}

.b3 {
	background-color: rgb(156, 218, 247);
}
.b4 {
	background-color: rgb(45, 207, 45);
}
.b5 {
	background-color: rgb(88, 119, 88);
}
.b6 {
	background-color: rgb(228, 171, 48);
}